@use '../../styles/vars';

.footer {
  background-size: cover !important;
  background-position: center center;
  border: vars.$border;
  margin: vars.$margin;
  text-align: center;
  font-size: 30px;

  &__text {
    display: flex;
    flex-direction: column;
  background-color: #f5ce72;
    text-shadow: 0 0 2px #333;
    color: black;
  }
}

.item {
  color: black;
  font-size: 30px;
  text-decoration: none;
}




