.ui.button{
  border: 1px solid #f5ce72 !important;
}
.ui.icon.left.labeled.button{
  margin-bottom: 1rem;
}
.ui.fullscreen.modal.transition.visible.active {
  padding: 1rem;
  margin: auto;
  left: auto !important;
  text-align: center;
}


#field-newDescription::placeholder{
  text-align: center;;
  color: rgb(189, 116, 8);
}

.name_events{
  margin: auto;
}

.addEvent>.container-field>.field{
  width:100%;
  text-align: center;
  color: black;
}

.button-radio {
  display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    border: 1px black solid;
    width: 100%;
    margin: 1rem 0;
}

textarea{
 width: 100%;
}

